<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a routerLink="" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link link-dark px-2">Flights</a></li>
        <li class="nav-item"><a routerLink="hotels" class="nav-link link-dark px-2">Hotels</a></li>
        <li class="nav-item"><a routerLink="bookings" class="nav-link link-dark px-2">My Bookings</a></li>
        <li class="nav-item"><a routerLink="help" class="nav-link link-dark px-2">Help</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><button type="button" class="btn btn-outline-primary me-2" routerLink="login">Login</button></li>
        <li class="nav-item"><button type="button" class="btn btn-primary" routerLink="signup">Sign-up</button></li>
      </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a routerLink="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4">TechM Flights</span>
      </a>
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0" [formGroup]="searchForm">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form> -->
    </div>
  </header>

<main class="row">
    <div class="col-md-2">
            <div class="sidebar">
                    <div class="flight-card">
                       <a routerLink='' style="text-align: center;" routerLinkActive="active"><i class="fas fa-plane"></i> Flights </a>
                    </div>
                    <div class="hotels-card">
                        <a routerLink='hotels' style="text-align: center;"><i class="fas fa-door-closed"></i> Hotels </a>
                    </div>
            </div>
    </div>
    <div class="col-md-8 mb-4">
        <router-outlet></router-outlet>
    </div>
</main>



<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="text-muted">Made with Angular, Rxjs, Bootstrap, JSON Server, Typescript and Coffee <i class="fas fa-heart"></i>
        <p class="text-muted text-start">By Sudheer Babu.</p>
      </div>
    </div>
</footer>