/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
}
html,body {
    height: 100%;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
